body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: black; /* Dark text */
    background-color: #fff; /* White background */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px 24px; /* Adjusted padding for spacing */
    box-sizing: border-box; /* Ensures padding does not add to the width */
}

.logo {
    font-size: 24px;
    margin-bottom: 40px;
}

.navbar a, .navigation-links a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: black; /* Black text */
    transition: color 0.3s ease-in-out;
}

.navbar a:hover, .navigation-links a:hover {
    color: black; /* Maintains black color on hover */
}

.gallery-container {
    margin-left: 300px; /* Same as sidebar width */
    position: relative;
    width: calc(100% - 300px);
    height: 100vh;
    overflow: hidden;
}

.gallery-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease;
    opacity: 0;
}

.gallery-slide.active {
    opacity: 1;
}

.artwork-description {
    position: fixed;
    bottom: 20px;
    left: 24px; /* Aligns with the rest of the sidebar content */
}



