body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background */
    color: black; /* Dark text */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #f1f1f1;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #a8a8a8;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}

.section {
    padding: 50px 10%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: black;
}

.fullscreen-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery-slide {
    position: absolute;
    width: 100%;
    height: 100vh; /* Change this as needed */
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease;
    opacity: 0;
}

.gallery-slide.active {
    opacity: 1;
}

.gallery-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.gallery-controls span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    user-select: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 3px 0; /* Right arrow */
}

.gallery-controls .prev {
    left: 0;
    border-radius: 3px 0 0 3px; /* Left arrow */
}

.gallery-controls .next {
    right: 0;
}

/* Add responsiveness and other styling as needed */

